# 忽略目录
.vscode/
lib/
node_modules/
public/
src/
demo/
.gitee/

# 忽略指定文件
.browserslistrc
.eslintrc.js
.gitignore
babel.config.js
jsconfig.json
vue.config.js
*.map
.DS_Store
rollup.config.mjs
yarn.lock
index.html